certifi==2022.12.7
charset-normalizer==3.1.0
docopt==0.6.2
idna==3.4
image-enc-dec==0.0.1
Naked==0.1.32
pipreqs==0.4.13
PyYAML==6.0
requests==2.30.0
shellescape==3.8.1
tk==0.1.0
urllib3==2.0.2
yarg==0.1.9
